.footer {
    background-color: #2F303A;
    padding: 60px 0;

        &-wrap {
            display: flex;
            align-items: baseline;
    
        }
    
        &-adress {
            margin-right: 70px;
        }

        &-subtittle {
            color: var(--color-basic);
            text-transform: uppercase;
            font-weight: 700;
    
            margin-bottom: 20px;
    
        }

        &-social-media {
    display: flex;
        }
        
        &-social-item:not(:last-child) {
            margin-right: 10px;
        }
    
        &-social-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            color: var(--color-basic);
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 50%;
    
            transition-property: background-color;
            transition-duration: 250ms;
            transition-timing-function: var(--transition-timing-function);
    
            &:hover,
            &:focus {
    
                background-color: var(--color-accent);
            }
    
        }
    
    
    
    
    
        &-social {
            margin-right: 93px;
        }
    
        &-subscr {
            margin-bottom: 20px;
            font-size: 14px;
            text-transform: uppercase;
            color: var(--color-basic)
        }

        &-button {

            display: flex;
            align-items: center;

            width: 200px;
            height: 50px;

            padding: 0 28px;

            color: var(--color-basic);

            background: var(--color-accent);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            border: none;


            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            cursor: pointer;
        }

        &-placeholder {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);

        font-size: 16px;
        line-height: 1.25;
        color: var(--font-color-second);
        }
        }

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: var(--color-basic);

    margin-bottom: 20px;
    display: block;
}

.contact-list-footer {
    list-style: none;
    padding-left: 0;
    margin: 0 0;
    line-height: 1.71;
}



















.subscr-form:focus .footer-placeholder,
.subscr-form-input:not(:placeholder-shown)+.footer-placeholder {
    opacity: 0;
}


   

.footer-button span {
    margin-right: 10px;
    
    
}

.sender {
    fill: var(--color-basic);

}

.address {

    font-weight: 400;
    line-height: 1.14;
    color: var(--color-basic);
    font-style: normal;
    list-style: none;

}

.accent-logo-footer {
    color: var(--color-accent);
}