.hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-s.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-s@2x.jpg);
        }
    
        @media screen and (min-width: 768px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-m.jpg);
    
       
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-m@2x.jpg);
            }
        }
    
        @media screen and (min-width: 1200px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-l.jpg);
    
            
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-l@2x.jpg);
            }
        }


    &-head {
            font-family: var(--color-basic);
            font-style: normal;
            font-weight: 900;
            font-size: 26px;
            line-height: 1.62;
    
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
    
            color: var(--color-basic);

            
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 30px;

            @media screen and (max-width: 1199px) {
            max-width: 360px;
            }
                @media screen and (min-width: 1200px) {
                    width: 696px;
                    font-size: 44px;
                    line-height: 1.36;
                }
        }
    
        &-btn {
    
    
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
    
            padding: 10px 32px;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
            border: 0;
            border-radius: 4px;
    
            color: var(--color-basic);
            background-color: var(--color-accent);
    
            cursor: pointer;
        }
}

