.portfolio-container {
    
    @media screen and (min-width: 768px) {
    
    display: flex;
    flex-wrap: wrap;


    margin-right: -30px;
    margin-bottom: -30px;

    }
}

.portfolio-list {
    @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
    }
}


.portfolio-text-wrap {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
    color: var(--font-color-main);
}

.portfolio-textblock {
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
    transform: translateY(100%);

}

.portfolio-card-item:hover .portfolio-textblock,
.portfolio-card-item:focus .portfolio-textblock {
    transform: translateY(0);
}

.portfolio-descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--color-basic);


    @media screen and (min-width: 1200px) {
    max-width: 322px;
    }
}

.project-thumb {
    position: relative;
    overflow: hidden;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 767px) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: 768px) {
    // display: flex;
    // justify-content: center;
    margin-bottom: 50px;
    justify-content: center;
    }
}


.project__img {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
            
                max-width: 354px;
                height: 294px;
            
        }
    
        @media screen and (min-width: 1200px) {
            
                max-width: 370px;
                height: 294px;
            
        }
}