.section-work-list {
    padding-top: 0
}

.work-list {
    display: flex;

    list-style: none;

    &-item:not(:last-child) {
            margin-right: 30px;
        }
    
        &-block {
            position: relative;
        }
    
        &-descr {
            font-weight: 700;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            font-size: 14px;
            color: var(--color-basic);
    
    
            padding-top: 27px;
            padding-bottom: 27px;
            width: 370px;
            height: 70px;
            background-color: rgba(47, 48, 58, 0.8);
    
            position: absolute;
            bottom: 0;
        }
}

