.label {
    display: block;

    margin-bottom: 10px;

    &-text {
            display: block;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.01em;
            color: var(--font-color-second);
            margin-bottom: 4px;
        }
    
        &-thumb {
            position: relative;

            &:focus-within .imput-field {
                    border-color: var(--color-accent);
                }
            
            
                &:focus-within .imput-img {
                    fill: var(--color-accent);
                }
        }
}

