@import "./backdrop";
@import "./modal";


@import "./label";
@import "./imput";
@import "./textarea";

@import "./checkbox";
@import "./policy-link";






.placeholder {
    position: absolute;
    top: 13px;
    left: 16px;

    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

}

.modal-btn-submit {
    width: 200px;
    height: 50px;
    background-color: var(--color-accent);
    font-weight: 700;
    line-height: 1.88;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: var(--color-basic);
    padding: 10px 56px;
    margin: 0 auto;
    transition: box-shadow 250ms var(--transition-timing-function);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    

    &:hover,
    &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }

}


.modal-btn-center {
display: flex;
    justify-content: center;
}
