.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: var(--color-accent);
    margin-right: 93px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;

    text-decoration: none;

    padding: 0;

    &__accent {
            color: var(--font-color-main);
        }
}

