.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: var(--color-accent);
    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;

    text-decoration: none;

    padding: 0;
    margin-right: 88px;
    
@media screen and (min-width: 1200px) {
    margin-right: 93px;
    font-size: 26px;
}
    &__accent {
            color: var(--font-color-main);
        }
}

.logo--header {
    @media screen and (max-width: 767px) {
        position: absolute;
        top: 16px;
        left: 15px;
        z-index: 5;
        opacity: 1;
        pointer-events: initial;
        transform: translateX(0);
        @include transition((opacity, transform));

    }
}

@media screen and (max-width: 767px) {
    .logo--hidden {
        opacity: 0;
        pointer-events: none;
        transform: translateX(100%);
        @include transition((opacity, transform));
    }
}