.nav {

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--font-color-main);

    margin: 0;

    display: flex;


    padding-left: 0px;

    &__list {
    
            list-style: none;
            position: relative;
    
        }
    
    
    
        &__link {
            text-decoration: none;
            color: inherit;
            display: block;
            padding-top: 32px;
            padding-bottom: 32px;
    
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: var(--transition-timing-function);
    
    
            display: flex;

            &:hover,
            &:focus {
                color: var(--color-accent);
                }
    
        }
    
        &__list--current::after {
            content: "";
            width: 100%;
            height: 4px;
            background-color: var(--color-accent);
    
            border-radius: 2px;
    
            position: absolute;
            bottom: 0;
    
    
        }

        &__list:not(:last-child) {
            margin-right: 50px;
        }
}