body {
    font-family: var(--main-font), sans-serif;
    color: var(--font-color-main);

    font-size: 14px;
    background-color: var(--color-basic);
    letter-spacing: 0.03em;

}

.section-tittle {


    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;



}